# Secrets: GCP service account keys, etc.
.secret/
*.env

# melos
pubspec_overrides.yaml

# Files and directories created by pub.
!pubspec.lock
pkg/**/pubspec.lock
.dart_tool/
.packages
doc/

# Conventional directory for build output.
build/

# Build artifacts
bin/*.exe

.idea/
